@import "vars"

/* Extra Small Devices, Phones */
@media only screen and (min-width : 360px)
	/* Standart Start */

	.standart
		.container-fluid
			.row
				.col-12
					.stand
						.stand-termV
							top: rem(15)
							right: rem(105)
						.stand-deff
							top: rem(125)
							left: 0
						.stand-carga
							top: rem(200)
							left: rem(5)
						.stand-termB
							top: rem(280)
							left: 0
						.stand-zakr
							top: rem(365)
							left: 0
						.stand-rebra
							top: rem(445)
							left: rem(10)
						.stand-kran
							top: rem(520)
							left: rem(65)
						.stand-ohl
							top: rem(155)
							right: rem(5)
						.stand-hol
							top: rem(240)
							right: rem(5)
						.stand-vzriv
							top: rem(325)
							right: rem(5)
						.stand-prokl
							top: rem(393)
							right: 0
						.stand-ten
							top: rem(505)
							right: rem(30)

	/* Standart End */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)

	/* Header Start*/
	
	.header
		.header-nav
			.header-nav-box
				.header-brand
					.header-logo
						img
							height: rem(40)
						p
							font-size: 10px
		.header-wellcome
			padding-top: rem(67)
			.header-bonus
				top: rem(500)
				right: rem(10)
				width: rem(210)
				padding: rem(10)
				.bonus-title
					font-size: 16px
					margin-bottom: rem(10)
				ul
					li
						p
							font-size: 14px
				.akcii
					margin-top: rem(10)
					font-size: 14px
				.timer
					font-size: 16px
			.container-fluid
				.row
					.header-text
						.h2
							font-size: 26px
						.h3
							font-size: 64px
						.standart
							padding: 0 rem(14)
							border: 2px solid #000
							top: rem(40)
							left: rem(365)
							font-size: 14px
						.h1
							font-size: 20px
						.check
							.check-item
								span
									font-size: 16px
						.formAction
							strong
								font-size: 16px
								left: rem(55)
								bottom: rem(27)
								.num
									font-size: 22px

	/* Header End */

	/* Convenience Start */

	.convenience
		.container-fluid
			.wash
				padding-bottom: rem(135)
			.wash-img
				padding-bottom: rem(90)

	/* Convenience End */

	/* Tank Start */

	.tank
		.bg-transf
			.container-fluid
				padding-top: rem(35)
				.tank-w
					padding-bottom: rem(185)
				.tank-img
					padding-bottom: rem(70)
				.tank-icos
					.wre-t-box
						margin-bottom: rem(20)
	
	/* Tank End */
	
	/* Standart Start */

	.standart
		.container-fluid
			.row
				.col-12
					.stand
						.stand-termV
							top: rem(20)
							right: 0
						.stand-deff
							top: rem(180)
							left: 0
						.stand-carga
							top: rem(280)
							left: rem(5)
						.stand-termB
							top: rem(400)
							left: 0
						.stand-zakr
							top: rem(490)
							left: 0
						.stand-rebra
							top: rem(600)
							left: rem(10)
						.stand-kran
							top: rem(640)
							left: rem(35)
						.stand-ohl
							top: rem(220)
							right: rem(5)
						.stand-hol
							top: rem(340)
							right: rem(5)
						.stand-vzriv
							top: rem(460)
							right: rem(5)
						.stand-prokl
							top: rem(550)
							right: 0
						.stand-ten
							top: rem(675)
							right: rem(30)

	/* Standart End */

	.mode
		.container-fluid
			.row
				.tab-menu
					.tab
						.tab-link,
						.tab-link-d
							padding: rem(10) rem(10)
							&:before
								border: 2px solid #CCC
								padding: rem(3) rem(7)
							&.active
								border: 2px solid $accent
								&:before
									border: 2px solid $accent

	/* Characteristics Start */

	.pr-bottom
		margin-bottom: rem(20)

	.characteristics
		.container-fluid
			.product
				.row
					.product-ds
						display: block

	/* Characteristics End */

	/* Recipe Start */

	.recipe
		.container-fluid
			.row
				.recipe-box
					.recipe-result
						.accent
							font-size: 48px
				.recipe-book
					.recipe-btn
						padding: rem(8) rem(32)
						font-size: 16px

	/* Question Start */

	.question
		.container-fluid
			padding: rem(60) rem(100) rem(40) rem(100)
	/* Question End */

/* Custom */
// @media only screen and (min-width : 576px)
@media only screen and (min-width : 576px)
	.col-sm-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-sm-5
		flex: 0 0 41.66667%
		max-width: 41.66667%

	.col-sm-6
		flex: 0 0 50%
		max-width: 50%

	.col-sm-7
		flex: 0 0 58.33333%
		max-width: 58.33333%

	/* Standart Start */

	.standart
		.container-fluid
			.row
				.col-12
					.stand
						li
							width: rem(110)
							h4
								font-size: 14px
						.stand-termV
							right: rem(25)
						.stand-deff
							top: rem(180)
						.stand-carga
							top: rem(280)
						.stand-zakr
							top: rem(500)
						.stand-rebra
							top: rem(600)
						.stand-kran
							left: rem(60)
						.stand-hol
							top: rem(335)
						.stand-vzriv
							top: rem(460)
						.stand-prokl
							top: rem(550)
							right: rem(5)
						.stand-ten
							top: rem(640)

	/* Standart End */

	/* Bonus Start */

	.bonus
		padding-top: rem(30)
		.container-fluid
			.call
				font-size: 18px
				margin-bottom: rem(105)
				.logo-font
					font-size: 22px
			.row
				.bonus-item
					.img-box
						margin-top: rem(-135)
					.title
						font-size: 16px
						height: rem(45)
					.opis
						font-size: 12px
					.price
						.old
							font-size: 16px
						strong
							font-size: 20px
				.bonus-timer
					.timer
						font-size: 32px
						#days2, #hours2, #minutes2, #seconds2
							min-width: rem(44)

	/* Bonus End */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.col-md-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-md-3
		flex: 0 0 25%
		max-width: 25%
		
	.col-md-4
		flex: 0 0 33.33333%
		max-width: 33.33333%

	.col-md-7
		flex: 0 0 58.33333%
		max-width: 58.33333%
		
	.col-md-8
		flex: 0 0 66.66667%
		max-width: 66.66667%

	.col-md-12
		flex: 0 0 100%
		max-width: 100%

	.hidden-up
		display: none

	.sm-hidden
		display: none!important

	.sm-show
		display: block!important

	/* Header Start*/
	
	.header
		.header-nav
			.header-nav-box
				flex-direction: row
				.header-brand
					width: inherit
					.phone-mobile, .icon
						display: none
				.header-navbar
					#menu
						display: flex
						flex-direction: row
						li
							.h-link
								&::after
									background-color: $accent
									display: block
									content: ""
									height: 2px
									width: 0%
									transition: width .3s ease
								&:hover::after, &:focus::after
									width: 100%
						.head-ph
							display: block	
				.time-wrap
					flex-direction: column
					width: 90%
					height: 100%
					p
						margin-bottom: rem(-10)
					.timer
						font-size: 24px
						#days1, #hours1, #minutes1, #seconds1
							min-width: rem(36)
		.header-wellcome
			.header-bonus
				top: rem(90)
				width: rem(220)
				.timer
					font-size: 18px
			.container-fluid
				.row
					.header-text
						.h2
							font-size: 36px
						.h3
							font-size: 72px
						.standart
							top: rem(45)
							left: rem(420)
							font-size: 20px
							z-index: 1
						.img-1
							display: none
						.garanty-ph
							display: none
						.formAction, form
							min-width: rem(570)
						.form
							flex-direction: row
							.form-item
								width: 32%
						.order
							.order-bg
								display: block
							strong
								min-width: rem(520)
								left: rem(55)
								bottom: rem(27)
								.order-date
					.header-col-hd
						display: block
						position: relative
						.img-2
							margin-left: rem(-95)
						.garanty
							position: absolute
							left: rem(-60)
							bottom: rem(150)
							max-width: rem(80)

	/* Header End */

	/* Video Start */

	.video
		.container-fluid
			.row
				.col-md-4
					ul
						padding: rem(20)
						margin-bottom: rem(20)
						li
						 &:not(:last-child)
							margin-bottom: rem(20)
							p
								font-size: 18px
				.col-md-12
					.video-form
						form
							flex-direction: row
							input
								width: 32%
								margin-right: rem(10)


	/* Video End */

	/* Tank Start */

	.tank
		.bg-transf
			.container-fluid
				padding-top: rem(65)
				.tank-w
					padding-bottom: rem(155)
				.tank-img
					padding-bottom: rem(60)
				.tank-icos
					.wre-t-box
						margin-bottom: rem(30)
				.tank-f
					display: flex
					justify-content: flex-end
					.tank-form
						margin-top: -170px
	
	/* Tank End */
	
	/* Standart Start */

	.standart
		.container-fluid
			.row
				.col-12
					.stand
						li
							width: initial
							h4
								font-size: 14px
							p
								display: block
								width: rem(180)
								font-size: 11px
						.stand-termV
							top: 0
							right: rem(50)
						.stand-deff
							top: rem(90)
							left: rem(10)
						.stand-carga
							top: rem(205)
							left: rem(10)
						.stand-termB
							top: rem(315)
							left: rem(20)
							p
								width: rem(150)
						.stand-zakr
							top: rem(415)
							left: 0
						.stand-rebra
							top: rem(525)
							left: rem(10)
							h4
								width: rem(180)
						.stand-kran
							top: rem(620)
							left: rem(90)
						.stand-ohl
							top: rem(140)
							right: rem(5)
							p
								width: rem(150)
						.stand-hol
							top: rem(270)
							right: rem(10)
						.stand-vzriv
							top: rem(395)
							right: rem(5)
						.stand-prokl
							top: rem(480)
							right: rem(5)
						.stand-ten
							top: rem(610)
							right: rem(50)

	/* Standart End */

	/* Characteristics Start */

	.characteristics
		.container-fluid
			.h3
				.title-no-mobile
					display: block
			.char-img
				img
					width: 60%
			.choose
				.litre-box
					flex-direction: row
					.litre-val
						margin-right: rem(10)
				.carSuh
					br
						display: none
					.bk-val, .car-val, .suh-val
						font-size: 16px
					.separate-cs
						display: inline
			.char-list
				.ch-name:after
					content: "......................................................................."
					position: absolute
					width: 100%
					font-family: Arial, sans-serif
					top: rem(2)
					margin-left: rem(10)
					font-size: 14px

			.char-list, .product
				margin: 0
			.char-form
				.h4
					font-size: 36px
					margin-bottom: rem(15)
					.logo-font
						font-size: 42px
				form
					flex-direction: row
					input
						margin-right: rem(10)

	/* Characteristics End */

	/* Recipe Start */

	.md-6
		flex: 0 0 33.33333%
		max-width: 33.33333%

	.recipe
		.container-fluid
			.row
				.recipe-book
					padding-top: rem(48)
				.recipe-box
					.img-recipe
						width: 58%
					.recipe-result
						.row
							div
								&:first-child
									font-size: 80px
								.img-bottle
									width: 100%

	/* Recipe End */

	/* Bonus Start */

	.bonus
		.container-fluid
			.call
				font-size: 24px
				margin-bottom: rem(150)
				.logo-font
					font-size: 26px
			.row
				.bonus-item
					.img-box
						img
							width: 65%
					.title
						font-size: 22px
					.opis
						font-size: 14px
					.price
						.old
							font-size: 20px
						strong
							font-size: 26px
				.bonus-timer
					.timer
						font-size: 48px
						#days2, #hours2, #minutes2, #seconds2
							min-width: rem(60)
			.bonus-form
				form
					flex-direction: row
					input
						width: 32%
						margin-right: rem(10)

	/* Bonus End */

	/* Mode 6 Start */

	.mode
		margin-bottom: rem(60)
		.container-fluid
			.row
				.tab-menu
					.tab
						.tab-link,
						.tab-link-d
							&:before
								margin-right: 5px
						&:nth-child(1)
							.tab-link,
							.tab-link-d
								&:after
									content: "Брожение"
						&:nth-child(2)
							.tab-link,
							.tab-link-d
								&:after
									content: "\41F\440\43E\441\442\430\44F   \43F\435\440\435\433\43E\43D\43A\430"
						&:nth-child(3)
							.tab-link,
							.tab-link-d
								&:after
									content: "Укрепление"
						&:nth-child(4)
							.tab-link,
							.tab-link-d
								&:after
									content: "Ректификация"
						&:nth-child(5)
							.tab-link,
							.tab-link-d
								&:after
									content: "Зерновые"
						&:nth-child(6)
							.tab-link,
							.tab-link-d
								&:after
									content: "Диоптр"
	.mode
		.container-fluid
			.mode-two
				.mode-img
					width: 80%
			.mode-three
				.mode-img
					width: 75%
			.mode-four
				.mode-img
					width: 70%
			.mode-five
				.mode-img
					width: 55%
			.mode-eight
				.mode-img
					width: 70%


	/* Mode 6 End */

	/* Constructor Start */

	.constructor
		.container
			.constr-row
				.constructor-control
					.h3
					.constructor-controls-filter
						margin-top: rem(30)
						padding: rem(20) rem(30)
						.constructor-controls-filter-valume
							.constructor-label
								font-size: 24px
							.constr-filter
								.litre
									ul
										text-align: inherit
								.choose
									display: inline
									.separate
										display: inline
					.complication
						margin-left: 0
	/* Constructor End */

	/* Additionally Start */

	.additionally
		.container-fluid
			.row
				.h3
					font-size: 40px
					&:after
						margin-top: rem(66)

	/* Additionally End */

	/* Reviews Start */

	.recipe
		.container-fluid
			.row
				.recipe-book
					.recipe-btn
						padding: rem(16) rem(40)
						font-size: 20px


	/* Reviews End */


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.col-lg-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-lg-3
		flex: 0 0 25%
		max-width: 25%

	.col-lg-4
		flex: 0 0 33.33333%
		max-width: 33.33333%

	.col-lg-5
		flex: 0 0 41.66667%
		max-width: 41.66667%

	.col-lg-6
		flex: 0 0 50%
		max-width: 50%

	.col-lg-7
		flex: 0 0 58.33333%
		max-width: 58.33333%

	.md-show
		display: block!important

	/* Header Start*/
	
	.header
		.header-nav
			.header-nav-box
				.header-navbar
					#menu
						li
							.h-link
								padding: rem(10) rem(20)
						.head-ph
							font-size: 16px
						.btnHead
							.btn
								padding: rem(10) rem(20)
								font-size: 16px
		.header-wellcome
			.container-fluid
				.row
					.header-col-hd
						.garanty
							left: rem(55)
							bottom: rem(20)

	/* Header End */

	/* Convenience Start */

	.convenience
		.container-fluid
			.wash
				padding-bottom: rem(64)
			.wash-img
				padding-bottom: 0

	/* Convenience End */

	/* Tank Start */

	.tank
		.bg-transf
			.container-fluid
				padding-top: rem(125)
				.tank-w
					padding-bottom: rem(64)
				.tank-img
					padding-bottom: 0
				.tank-icos
					.wre-t-box
						// margin-bottom: rem(50)
	

	/* Tank End */
	
	/* Standart Start */

	.standart
		.container-fluid
			.row
				.col-12
					.stand
						li
							p
								width: rem(230)
								font-size: 12px
						.stand-termV
							right: rem(110)
						.stand-deff
							top: rem(115)
							left: rem(50)
						.stand-carga
							left: rem(65)
						.stand-termB
							top: rem(325)
							left: rem(45)
							p
								width: rem(230)
						.stand-zakr
							top: rem(430)
							left: rem(30)
						.stand-rebra
							top: rem(540)
							left: rem(45)
							h4
								width: inherit
						.stand-kran
							left: rem(150)
						.stand-ohl
							top: rem(145)
							right: rem(30)
							p
								width: rem(230)
						.stand-hol
							right: rem(65)
						.stand-vzriv,
						.stand-prokl
							right: rem(55)
						.stand-ten
							top: rem(620)
							right: rem(115)

	/* Standart End */

	/* Recipe Start */

	.recipe
		.container-fluid
			.row
				.recipe-box
					.recipe-img	
						display: block
	/* Recipe End */

	/* Mode 8 Start */

	.mode
		.container-fluid
			.mode-one
				.block
					.mode-box
						.row
							.title
								margin-right: rem(80)

	.mode
		.container-fluid
			.row
				.tab-menu
					.tab
						.tab-link,
						.tab-link-d
							&:after
								font-size: 15px
	/* Mode 8 End */

	/* Constructor Start */

	.constructor-controls-filter-valume
		.choose
			padding-right: 0
			padding-left: 0

	/* Constructor End */

	.footer
		.container-fluid
			.row
				.f-contact
					div
						width: 35%
						a
							display: inline-block
							width: 50%

	/* Footer End */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.lg-show
		display: block!important

	/* Header Start*/
	
	.header
		.header-wellcome
			.container-fluid
				.row
					.header-col-hd
						.img-2
							margin-left: initial

	/* Header End */

	/* Standart Start */
	.standart
		.container-fluid
			.row
				.col-12
					.stand
						li
							p
								width: rem(285)
								font-size: 14px
						.stand-ohl
							top: rem(145)
							right: rem(95)
						.stand-termB
							top: rem(325)
							left: rem(110)

	/* Standart End */

/* Very Large Devices, Wide Screens */
@media only screen and (min-width : 1280px)
	
	/* Header Start*/
	
	.header
		.header-wellcome
			.header-bonus
				right: rem(30)

	/* Header End */

/* Very Large Devices, Wide Screens */
@media only screen and (min-width : 1366px)

	/* Header Start*/
	
	.header
		.header-wellcome
			.header-bonus
				right: rem(55)

	/* Header End */

/* Very Large Devices, Wide Screens */
@media only screen and (min-width : 1440px)

	/* Header Start*/
	
	.header
		.header-wellcome
			.header-bonus
				right: rem(105)

	/* Header End */

/* Very Large Devices, Wide Screens */
@media only screen and (min-width : 1600px)

	/* Header Start*/
	
	.header
		.header-wellcome
			.header-bonus
				right: rem(185)

	/* Header End */

/* Very Large Devices, Wide Screens */
@media only screen and (min-width : 1920px)

	/* Header Start*/
	
	.header
		.header-wellcome
			.header-bonus
				right: rem(345)

	/* Header End */
