@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

html
	font-size: 16px

body
	margin: 0
	padding: 0
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

ul, p, h1, h2, h3, h4, h5
	padding: 0
	margin: 0

ul
	list-style: none

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5
	line-height: 1.1
	font-weight: bold

a
	color: $black
	text-decoration: none
	&:hover, &:focus
		text-decoration: none

.link
	transition: .5s
	border-bottom: 1px solid $accent
	font-weight: bold
	color: $accent
	&:hover
		text-decoration: none
		color: darken($accent, 30%)
		border-bottom: 1px solid darken($accent, 30%)

.logo-font
	font-family: $logo-font
	font-size: rem(18)

// Forms:
form,
fieldset
	margin: 0
	padding: 0
	border-style: none

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea
	-webkit-appearance: none
	-webkit-border-radius: 3px
	box-sizing: border-box
	border: 0
	font-size: 16px
	padding: rem(10)
	color: $black
	background: #fff
	box-shadow: inset 0 0 2px $dark-gray
	&:focus
		outline: none

.col-5
	flex: 0 0 41.66667%
	max-width: 41.66667%

.col-6
	flex: 0 0 50%
	max-width: 50%

.col-7
	flex: 0 0 58.33333%
	max-width: 58.33333%

.col-5, .col-6, .col-7, .col-12
	padding-left: rem(15)
	padding-right: rem(15)
	position: relative

.img-responsive
	display: block
	max-width: 100%
	height: auto

.num
	font-family: $else-font

.hide
	display: none

.clearfix:after
	display: block
	content: ""
	clear: both

.hr-line
	height: 1px
	width: 100%
	margin: 15px
	background-color: #efe5cc

.btn
	display: inline-block
	border: none
	background-color: $accent
	color: #fff
	text-align: center
	white-space: nowrap
	user-select: none
	transition: all .2s ease-in-out
	&:hover
		background-color: darken($accent, 10%)
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)

/* Header Start */

.header
	position: relative
	width: 100%
	background: #fff
	.header-nav
		position: fixed
		top: 0
		width: 100%
		z-index: 500
		opacity: .95
		box-shadow: 0 0 10px #ccc
		background-color: #FFF
		.header-nav-box
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			max-width: 1240px
			margin: auto
			padding: rem(3) rem(5)
			.header-brand
				font-size: 12px
				display: flex
				justify-content: space-between
				align-items: center
				width: 100%
				z-index: 100
				.header-logo
					img
						height: rem(30)
					p
						margin-top: rem(-4)
						text-align: center
						font-size: 7px
				.phone-mobile
					font-family: $else-font
					font-weight: bold
					font-size: 14px
					display: flex
					flex-direction: column
					flex: 1 1 auto
					align-items: flex-end
				.icon
					position: relative
					width: rem(40)
					height: rem(50)
					cursor: pointer
					.hamburger
						width: rem(30)
						height: rem(2)
						background-color: #000
						position: absolute
						top: 50%
						left: 50%
						transform: translate(-50%, -50%)
						box-shadow: 0 1px 2px rgba(0,0,0,.2)
						transition: .1s
					.hamburger:before, .hamburger:after
						content: ""
						width: rem(30)
						height: rem(2)
						background-color: #000
						position: absolute
						box-shadow: 0 1px 2px rgba(0,0,0,.2)
						transition: .3s
					.hamburger:before
						top: rem(-8)
					.hamburger:after
						top: rem(8)
					&.active
						.hamburger
							background-color: rgba(0,0,0,0)
							box-shadow: 0 1px 2px rgba(0,0,0,0)
					&.active
						.hamburger:before
							top: 0
							transform: rotate(45deg)
					&.active
						.hamburger:after
							top: 0
							transform: rotate(135deg)
			.header-navbar
				#menu
					display: none
					flex-direction: column
					align-items: center
					text-align: center
					li
						.h-link
							display: block
							padding: rem(5) rem(5)
							font-size: 14px
							&:hover
								color: $accent
					.head-ph
						font-family: $else-font
						font-weight: bold
						font-size: 14px
						display: none
						z-index: 100
					.btnHead
						display: none
						z-index: 100
						.btn
							padding: rem(8) rem(10)
							font-size: 14px
							background-color: $green
							margin-left: rem(10)	
			.time-wrap
				display: flex
				position: absolute
				width: 100%
				left: 0
				justify-content: center
				align-items: center
				transition: 0.4s linear
				background-color: #fff
				&.animateHide
					transform: translate(0, rem(-70))
					opacity: 0
				&.animateHideMob
					transform: translate(0, rem(35))
					height: rem(50)
					position: fixed
					opacity: 0
					bottom: 0
					&.active
						opacity: 1
						transform: translate(0, 0)
				p
					color: $accent
				.timer
					display: flex
					font-size: 18px
					font-family: $logo-font
					font-weight: bold
					text-align: center
					#days1, #hours1, #minutes1, #seconds1
						min-width: rem(32)
						.delimiter
							width: rem(15)
	.header-wellcome
		padding-top: rem(40)
		.header-bonus
			position: absolute
			top: rem(430)
			right: rem(5)
			width: rem(170)
			padding: rem(5)
			transition: all .5s ease
			border: 4px solid $accent
			z-index: 100
			&.blink
				transition: all .5s ease
				border: 4px solid transparent
			.bonus-title
				font-size: 14px
				text-align: center
				margin-bottom: rem(5)
			ul
				li
					text-align: center
					img
						width: 50%
						margin: 0 auto
					p
						font-size: 12px
						font-weight: bold
						margin-top: rem(-10)
			.akcii
				margin-top: rem(5)
				font-size: 12px
				text-align: center
				color: $accent
			.timer
				display: flex
				justify-content: space-between
				font-size: 14px
				font-family: $logo-font
				font-weight: bold
		.container-fluid
			max-width: 1030px
			margin: 0 auto
			height: 100%
			.row
				.header-text
					z-index: 10
					position: relative
					.h2
						font-size: 18px
						margin-top: rem(25)
						margin-bottom: rem(-10)
					.h3
						font-size: 48px
						font-family: $logo-font
						font-weight: bold
					.standart
						position: absolute
						padding: none
						border: none
						top: 0
						left: rem(258)
						font-size: 12px
						border-radius: 4px
					.h1
						font-size: 16px
					.price
						font-size: 18px
						span
							text-decoration: line-through
							color: $red
						strong
							font-size: 26px
							color: $accent
					.check
						margin-bottom: rem(5)
						.check-item
							display: inline-flex
							width: 100%
							vertical-align: middle
							padding: rem(6) 0
							.fa
								font-size: 27px
								color: $accent
								margin-right: rem(15)
							span
								margin-top: auto
								margin-bottom: auto
								font-size: 14px
					.img-1
						vertical-align: middle
						width: 95%
						margin-left: -70px
					.garanty-ph
						position: absolute
						bottom: rem(450)
						left: rem(20)
						max-width: rem(80)
					.formAction
						strong
							font-size: 14px
							.num
								font-size: 22px
								color: $accent
								white-space: nowrap
					.form
						padding: rem(10) rem(10)
						padding-right: 0
						border-left: 3px solid $accent
						width: 100%
						display: flex
						justify-content: space-between
						flex-direction: column
						.form-item
							width: 100%
							font-family: $else-font
							padding-top: 16px
							color: $black
							padding-bottom: 16px
							margin-bottom: rem(5)
						.header-btn
							padding: rem(14) rem(8)
							font-size: 18px
							background-color: $green
							cursor: pointer
							color: #fff
							&:hover
								background-color: darken($green, 10%)
					.order
						margin-top: rem(85)
						position: relative
						.order-bg
							position: absolute
							left: rem(-512)
							bottom: 0
							z-index: 0
							display: none
						.order-ico
							position: absolute
							bottom: rem(32)
							width: 24px
						strong
							position: absolute
							left: rem(40)
							bottom: rem(10)
							font-style: italic
							font-size: 14px
							.order-date
								font-size: 18px
								color: $accent
				.header-col-hd
					display: none
					.img-2
						vertical-align: middle
						width: 95%
	#header-modal
		#mW3
			.modal-container
				.order-price-value
					font-size: 26px

/* Header End */

/* Convenience Start */

.convenience
	background-color: $light-gray
	// background: url(../img/bg-9.jpg) no-repeat 50% 50% $light-gray
	.container-fluid
		max-width: 1030px
		.wash
			padding-top: rem(46)
			padding-bottom: rem(125)
			z-index: 1
			.h3
				font-size: 32px
				font-weight: bold
				margin-bottom: rem(50)
				&:after
					content: ""
					width: rem(150)
					height: 3px
					background-color: $accent
					position: absolute
					left: rem(15)
					margin-top: rem(66)
			p
				width: 80%
				margin-top: rem(24)
				margin-bottom: rem(16)
		.wash-img
			text-align: right
			padding-bottom: rem(80)
			img
				vertical-align: middle
				margin-top: rem(-260)
				bottom: 0
				right: 0
				width: 100%
		.wash-icos
			// margin-left: 41.66667%
			display: flex
			justify-content: flex-end
			.wre-box
				margin-top: rem(-125)
				margin-bottom: rem(80)
				.row
					justify-content: space-between
					div
						padding: 0
						text-align: center
						flex: 0 0 25%
						font-size: 15px
						img
							max-width: 60px
							margin-bottom: rem(10)

/* Convenience End */

/* Tank Start */

.tank
	background-color: $light-gray
	.bg-transf
		position: relative
		overflow: hidden
		margin-top: -70px
		&:before
			content: ""
			display: block
			height: rem(340)
			width: 120%
			position: absolute
			left: 50%
			top: 0
			transform: rotate(-5deg) translateX(-50%)
			transform-origin: center top
			background-color: #fff
		.container-fluid
			max-width: 1030px
			.tank-w
				padding-top: rem(46)
				padding-bottom: rem(125)
				z-index: 1
				.h3
					font-size: 32px
					font-weight: bold
					margin-bottom: rem(50)
					&:after
						content: ""
						width: rem(150)
						height: 3px
						background-color: $accent
						position: absolute
						left: rem(15)
						margin-top: rem(66)
				p
					width: 80%
					margin-top: rem(24)
					margin-bottom: rem(16)
			.tank-img
				text-align: right
				padding-bottom: rem(60)
				img
					vertical-align: middle
					margin-top: rem(-200)
					bottom: 0
					right: 0
					width: 90%
			.tank-icos
				// margin-left: 41.66667%
				// justify-content: flex-end
				display: flex
				.wre-t-box
					margin-top: rem(-70)
					margin-bottom: rem(20)
					.row
						justify-content: space-between
						div
							padding: 0
							text-align: center
							flex: 0 0 25%
							font-size: 15px
							img
								max-width: 60px
								margin-bottom: rem(10)
			.tank-f
				margin-bottom: rem(20)
				// display: flex
				// justify-content: flex-end
				.tank-form
					padding: rem(20)
					// margin-top: -170px
					max-width: rem(500)
					border: 1px solid #CCC
					background-color: rgba(255,255,255,0.5)
					box-shadow: 0 5px 10px #CCC 
					p
						padding: rem(20)
					form
						display: flex
						flex-direction: column
						justify-content: center
						input
							margin-bottom: rem(5)
							padding: rem(16) rem(42)
							font-size: 18px
						.btn
							font-size: 18px
							margin-bottom: rem(5)
							padding: rem(16) rem(42)
							background-color: $green
							&:hover
								background-color: darken($green, 10%)

/* Tank End */

/* Tips Start */

.tips
	background-color: $light-gray
	padding-top: rem(40)
	padding-bottom: rem(40)
	.container-fluid
		max-width: 1170px
		.h3
			font-size: 32px
			font-weight: bold
			margin-bottom: rem(50)
			position: relative
			text-align: right
			&:after
				content: ""
				width: rem(150)
				height: 3px
				background-color: $accent
				position: absolute
				right: 0
				margin-top: rem(55)
		.row
			.tip-item
				text-align: center
				img
					margin: 0 auto
					max-width: rem(100)
					border: 4px solid $accent
					border-radius: 50%
					padding: rem(15)
					margin-bottom: rem(32)
				.title
					margin-bottom: rem(16)
				p
					font-size: 14px
					margin-bottom: rem(16)
					// display: none
			.hide-tip
				display: none
			.tip-more
				text-align: center
				margin-top: 20px
				.red-more
					text-align: center
					text-decoration: underline
					font-size: 13px
					&:hover
						color: #000


/* Tips End */

/* Video Start */

.video
	padding-top: rem(30)
	padding-bottom: rem(60)
	.container-fluid
		max-width: 1140px
		.h3
			font-size: 32px
			margin-bottom: rem(50)
			position: relative
			&:after
				content: ""
				width: rem(150)
				height: 3px
				background-color: $accent
				position: absolute
				left: 0
				margin-top: rem(55)
		.row
			.col-md-4
				display: flex
				flex-direction: column
				justify-content: center
				.h4
					font-size: 24px
					padding-bottom: rem(20)
				ul
					background-color: $light-gray
					padding: rem(10) // 20
					margin-bottom: rem(10) // 20
					li
						display: flex
						align-items: center
						&:not(:last-child)
							margin-bottom: rem(10) // 20
						p
							font-size: 14px
							position: relative
						i
							width: rem(40)
							height: rem(40)
							background: url(/img/icons/present.png) no-repeat 50% 50%
							margin-right: rem(10)
							flex: 0 0 auto
			.col-md-8
				.videoWrapper
					position: relative
					padding-bottom: 56.25%
					height: 0
					border: 2px solid $accent
					margin-bottom: rem(20)
					iframe
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
			.col-md-12
				text-align: center
				padding: rem(12)
				background-color: $accent
				p
					color: #fff
					font-size: 22px
					margin-bottom: rem(20)
				.video-form
					form
						display: flex
						flex-direction: column
						justify-content: center
						input
							margin-bottom: rem(5)
							padding: rem(16) rem(42)
							font-size: 18px
						.btn
							font-size: 18px
							margin-bottom: rem(5)
							padding: rem(16) rem(42)
							background-color: $green
							&:hover
								background-color: darken($green, 10%)


/* Video End */

/* Standart Start */

.standart
	padding-top: rem(30)
	padding-bottom: rem(60)
	.container-fluid
		max-width: 1140px
		.title
			font-size: 32px
			margin-bottom: rem(50)
			position: relative
			&:after
				content: ""
				width: rem(150)
				height: 3px
				background-color: $accent
				position: absolute
				left: 0
				margin-top: rem(55)
		.row
			.col-12
				img
					margin: 0 auto
				.stand
					li
						position: absolute
						width: rem(90)
						h4
							font-size: 12px
						p
							display: none
					.stand-termV
						top: rem(10)
						right: rem(95)
					.stand-carga,
					.stand-deff,
					.stand-termB,
					.stand-zakr,
					.stand-rebra,
					.stand-kran
						text-align: right
					.stand-deff
						top: rem(110)
						left: 0
					.stand-carga
						top: rem(175)
						left: 0
					.stand-termB
						top: rem(245)
						left: 0
					.stand-zakr
						top: rem(317)
						left: 0
					.stand-rebra
						top: rem(390)
						left: rem(10)
					.stand-kran
						top: rem(455)
						left: rem(65)
					.stand-ohl
						top: rem(140)
						right: 0
					.stand-hol
						top: rem(210)
						right: 0
					.stand-vzriv
						top: rem(285)
						right: 0
					.stand-prokl
						top: rem(343)
						right: 0
					.stand-ten
						top: rem(440)
						right: rem(20)


/* Standart End */

/* Characteristics Start */

.bg-ch, .bg-pr
	background-color: #fff

.pr-bottom
		// margin-bottom: rem(20)

.align-self-end
	align-self: flex-end

.characteristics
	padding-top: rem(30)
	padding-bottom: rem(60)
	.container-fluid
		max-width: 1140px
		.h3
			font-size: 32px
			font-weight: bold
			.title-no-mobile
				display: none
				span
					font-family: $logo-font
		.char-img
			text-align: center
			img
				margin-top: rem(30)
				width: 85%
				vertical-align: middle
		.choose
			margin-top: rem(30)
			border: rem(7) solid $accent
			padding: rem(25)
			text-align: center
			// div
			// 	text-align: center
			.litre-box
				display: flex
				flex-direction: column
				// justify-content: space-between
				.litre-val
					border: 2px solid $light-gray
					background-color: $light-gray
					border-radius: 5px
					padding: rem(3) rem(5)
					margin-bottom: rem(5)
					font-weight: bold
					transition: .5s
					&:hover, &:focus
						// transition: .5s // attention
						text-decoration: none
						color: $black
					&.active
						border: 2px solid $green
						border-radius: 5px
						background-color: #fff
			.bk-val, .car-val, .suh-val
				font-size: 14px
				span
					font-family: $else-font
			.car-val, .suh-val
				&.active
					color: $green
					border-bottom: 1px solid $green
			.carSuh
				padding: 0
				.separate-cs
					margin: 0 rem(5)
					display: none
		.char-list
			.row
				overflow: hidden
				margin-top: rem(16)
				.ch-name
					font-size: 15px
					background-color: #fff
					// &:after
					// 	content: "......................................................................."
					// 	position: absolute
					// 	width: 100%
					// 	font-family: Arial, sans-serif
					// 	top: rem(2)
					// 	margin-left: rem(10)
					// 	font-size: 14px
				.ch-val
					font-size: 16px
					z-index: 1
		.product
			margin-top: rem(15)
			border: 7px solid lighten($accent, 40%)
			padding: rem(25)
			// text-align: left // attention
			.title
				padding-bottom: rem(15)
				font-size: 21px
				// text-align: left
			.row
				overflow: hidden
				.pr-name
					font-size: 15px
					margin-bottom: rem(20)
					background-color: #fff
					&:after
						content: "......................................................................."
						position: absolute
						width: 100%
						font-family: Arial, sans-serif
						top: rem(2)
						margin-left: rem(10)
						font-size: 14px
						bottom: 1px
						top: auto
				.product-ds
					position: absolute
					display: none
					left: rem(15)
					bottom: rem(-18)
					font-size: 13px
					color: #878787
					&.text-green
						color: $green

				.pr-val
					font-size: 16px
					z-index: 1
		.char-list, .product
			margin-left: -110%
		.char-form
			text-align: center
			margin: auto
			max-width: 960px
			padding-top: rem(50)
			p
				margin-bottom: rem(50)
			.h4
				font-size: 28px
				margin-bottom: rem(15)
				.logo-font
					font-size: 32px
			.h5
				font-size: 24px
				font-weight: 300
				max-width: rem(400)
				margin: 0 auto
				margin-bottom: rem(30)
			form
				display: flex
				justify-content: space-between
				flex-direction: column
				input
					flex: 1 1 auto
					padding: rem(16)
					color: $black
					margin-bottom: rem(10)
				.btn
					padding: rem(16)
					font-size: 18px
					cursor: pointer
					background-color: $green
					max-height: rem(50)
					&:hover
						background-color: darken($green, 10%)

/* Characteristics End */

/* Recipe Start */

.recipe
	padding-top: rem(30)
	padding-bottom: rem(60)
	background-color: $light-gray
	.container-fluid
		max-width: 1140px
		.h3
			font-size: 32px
			font-weight: bold
			margin-bottom: rem(15)
		.row
			.tab-menu-r
				display: flex
				justify-content: center
				width: 100%
				padding: 10px 5px
				.tab-r
					.tab-link-r
						border: 2px solid #CCC
						padding: rem(5) rem(5)
						border-radius: 5px
						margin: rem(10) rem(5)
						&.active
							border: 2px solid $accent
							color: $accent
			.recipe-box
				padding: rem(15)
				margin-bottom: rem(20)
				background-color: #fff
				.img-recipe
					width: 30%
				.recipe-text
					position: relative
					padding: 0
					padding-left: rem(15)
					padding-bottom: rem(8)
					&:after
						content: ""
						display: block
						width: 98%
						height: 1px
						background-color: #e5e5e5
						position: absolute
						top: 50%
						margin-top: rem(-1)
						z-index: 0
					span
						position: relative
						background-color: #fff
						padding-right: rem(24)
						z-index: 1
				.recipe-img
					text-align: center
					.w-xs
						// width: 100%
						max-width: rem(298)
				.recipe-ch
					.ch-item
						padding: 0
						padding-bottom: rem(4)
						&:nth-child(odd)
							text-align: right
							margin-top: auto
							font-size: 13px
						&:nth-child(even)
							padding-left: rem(4)
							font-weight: bold
						span
							font-size: 15px
				.recipe-result
					text-align: center
					.row
						margin: 0
						div
							padding: 0
							&:first-child
								font-size: 40px
								color: #bfbfbf
							.accent
								font-size: 36px // 64
								color: $accent
							p
								font-weight: bold
							.recipe-note
								padding-top: rem(5)
								font-size: 13px
								line-height: 1em
								color: $accent
							.img-bottle
								width: 10%
								max-width: rem(55)
			.recipe-book
				text-align: center
				// padding-top: rem(48)
				p
					margin-top: 0
					margin-bottom: rem(16)
				.recipe-btn
					padding: rem(16) rem(28) // md rem(16) rem(48) xs rem(8)
					font-size: 14px // md 20px
					text-transform: uppercase
					font-weight: bold
					// margin: 0 rem(15)
					background-color: $green
					&:hover
						text-decoration: none
						color: #fff
						background-color: darken($green, 10%)


	.add
		margin-top: 2rem
		background-color: $accent
		padding-top: 1rem
		padding-bottom: 1rem
		color: #fff
		font-size: 1.2em
		text-align: center

.md-6
	flex: 0 0 100%
	max-width: 100%

.textout
	margin-top: auto
	margin-bottom: auto

.m0
	margin: 0

/* Recipe End */

/* Modes Start */

.modes
	padding-top: rem(30)
	.container-fluid
		max-width: 1030px
		.col-md-5
			align-self: center
			img
				height: rem(400)
				margin: 0 auto
				display: none
		.col-md-7
			margin-top: rem(20)
			padding-bottom: rem(60)
			.h3
				font-size: 40px
				font-weight: bold
				margin-bottom: rem(50)
				&:after
					content: ""
					width: rem(150)
					height: 3px
					background-color: $accent
					position: absolute
					left: rem(15)
					margin-top: rem(66)
			p
				margin-bottom: rem(24)

/* Modes End */

/* Bonus Start */

.bonus
	// padding-top: rem(30) // 320 none
	padding-bottom: rem(60)
	.container-fluid
		max-width: 1030px
		.call
			font-weight: 300
			text-align: center
			font-size: 16px // 576 18px // 320 16px
			line-height: 1.5
			margin-bottom: rem(20) // 576 rem(105) // 320 rem(20)
			.logo-font
				font-size: 22px // 576 22px
		.row
			justify-content: center
			justify-content: space-around
			padding: rem(15) // 320 rem(15)
			padding-bottom: rem(40)
			border-radius: 4px
			background: url(/img/icons/stopwatch.png) no-repeat left bottom $accent
			.bonus-item
				text-align: center
				.img-box
					margin-bottom: rem(20)
					img
						background-color: #fff
						border: 5px solid $accent
						border-radius: 100%
						width: 40%
						margin: 0 auto
				.title
					font-size: 16px // 576 16px
					color: #fff
					margin-bottom: rem(20)
					// height: rem(45) // 320 none
				.opis
					font-size: 12px // 576 12px
					color: #fff
					margin-bottom: rem(20)
				.price
					color: $black
					margin-bottom: rem(20)
					background-color: #fff
					.old
						font-size: 16px // 576 16px
						text-decoration: line-through
						color: $red
					strong
						font-size: 20px // 576 20px
			.bonus-timer
				// margin-top: rem(20) // 320 none
				// margin-bottom: rem(10)
				.timer
					color: #fff
					font-size: 26px // 576 32px // 320 26px
					font-family: $logo-font
					display: flex
					justify-content: center
					text-align: center
					#days2, #hours2, #minutes2, #seconds2
						min-width: rem(32) // 576 rem(44) // 320 rem(32)
					.delimiter
						width: rem(15)
		.bonus-form
			margin-top: rem(-30)
			form
				display: flex
				flex-direction: column
				justify-content: center
				input
					margin-bottom: rem(5)
					padding: rem(16) rem(42)
					font-size: 18px
				.btn
					font-size: 18px
					margin-bottom: rem(5)
					padding: rem(16) rem(42)
					background-color: $green
					&:hover
						background-color: darken($green, 10%)
		// .bonus-btn
		// 	display: flex
		// 	justify-content: center
		// 	.btn
		// 		padding: rem(16) rem(42)
		// 		background-color: $green
		// 		margin-top: rem(-29)
		// 		&:hover
		// 			background-color: darken($green, 10%)


/* Bonus End */

/* Mode 8 Start */

// Structure

// .mode
// 	.container-fluid
// 		.row mode-n
// 			.block
// 				.mode-text
// 					.h3
// 					p
// 					.more
// 					a
// 				.mode-box
// 					.row
// 						.title
// 						.mode-text-img
// 			.mode-img
.mode
	margin-bottom: rem(32)
	margin-top: rem(26)
	.container-fluid
		max-width: 1030px
		.h2
			font-size: 40px
			font-weight: bold
			margin-bottom: rem(30)
			position: relative
			&:after
				content: ""
				width: rem(150)
				height: 3px
				background-color: $accent
				position: absolute
				left: 0
				margin-top: rem(66)
		.row
			justify-content: center
			.block
				align-self: center
				.mode-text
					.h3
						font-size: 28px
						font-weight: bold
						margin-bottom: rem(8)
					img
						margin: 0 auto
						text-align: center
						width: 70%
					p
						margin-top: rem(25)
						margin-bottom: rem(25)
						font-size: 15px
					.more
					font-size: 12px
					margin: rem(20) 0
					a
						font-size: 20px
				.mode-box
					padding: rem(20)
					border: 6px solid lighten($accent, 40%)
					.row
						.title
							font-weight: bold
							text-align: left
							font-size: 24px
							line-height: 1.1
							margin-bottom: rem(8)
							align-self: center
						.mode-text-img
							display: grid
							justify-content: center
							text-align: center
							img
								width: 90px
								margin: 0 auto
							div
								font-size: 14px
								font-weight: bold
						.mode-text
							display: grid
							justify-content: center
							align-self: center
							text-align: center
							margin-right: rem(-4)
							font-size: 20px
							font-weight: bold
							z-index: 1
						.lg-show
							display: none
			.mode-img
				text-align: center
				margin: 0 auto
				display: none

.mode
	.container-fluid
		.row
			.tab-menu
				display: flex
				justify-content: center
				width: 100%
				padding: 30px 5px
				.tab
					.tab-link,
					.tab-link-d
						border: 2px solid #CCC
						padding: rem(5) rem(5)
						border-radius: 5px
						margin: rem(10) rem(5)
						&:before
							font-size: 13px
							// border: 2px solid #CCC
							// padding: rem(3) rem(7)
							border-radius: 100%
							color: #CCC
							font-weight: bold
						&:after
							font-size: 12px
							color: #CCC
						&.active
							border: 2px solid $accent
							&:before
								color: $accent
								// border: 2px solid $accent
							&:after
								color: #000
					&:nth-child(1)
						.tab-link,
						.tab-link-d
							&:before
								content: "1"
					&:nth-child(2)
						.tab-link,
						.tab-link-d
							&:before
								content: "2"
					&:nth-child(3)
						.tab-link,
						.tab-link-d
							&:before
								content: "3"
					&:nth-child(4)
						.tab-link,
						.tab-link-d
							&:before
								content: "4"
					&:nth-child(5)
						.tab-link,
						.tab-link-d
							&:before
								content: "5"
					&:nth-child(6)
						.tab-link,
						.tab-link-d
							&:before
								content: "6"

.mode
	.container-fluid
		.mode-one, 
		.mode-two, 
		.mode-four
			.block
				.mode-box
					padding: rem(15) rem(40)

.mode
	.container-fluid
		.mode-three, 
		.mode-seven, 
		.mode-four, 
		.mode-eight
			.block
				.mode-box
					.row
						.title
							font-size: 20px

.mode
	.container-fluid
		.mode-three, 
		.mode-eight
			.block
				.mode-box
					.row
						.title
							text-align: center

.mode
	.container-fluid
		.mode-six
			.block
				.mode-box
					padding: rem(20) rem(30)
					.row
						.title
							margin-right: rem(24)
						.mode-text-img
							margin-right: rem(-5)

.mode
	.container-fluid
		.mode-seven
			.block
				.mode-text
					.more
						a
							font-size: 19px	

/* Mode 8 End */

/* Constructor Start */

.constructor
	padding-top: rem(30)
	padding-bottom: rem(60)
	.container
		padding-right: rem(20)
		padding-left: rem(20)
		.title
			font-size: 40px
			position: relative
			margin-bottom: rem(60)
			&:after
				content: ""
				width: rem(150)
				height: 3px
				background-color: $accent
				position: absolute
				left: 0
				margin-top: rem(66)
		.constr-row
			flex-wrap: nowrap
			.constructor-img
				background: url(/img/constructor/20l-pro_big.jpg) no-repeat center top
				min-height: rem(280)
				flex: 1 0 35%
				background-size: contain
			.constructor-control
				flex: 1 0 65%
				height: 100%
				padding-left: 0
				padding-right: 0
				.h3
					font-size: 36px
					font-weight: bold
					margin-bottom: rem(8)
					display: none
					span
						font-family: $logo-font
						font-weight: bold
						font-size: 40px
				.constructor-controls-filter
					// margin-top: rem(30)
					border: 5px solid lighten($accent, 40%)
					padding: rem(5)
					.constructor-controls-filter-valume
						.constructor-label
							font-size: 20px
						.constr-filter
							.litre
								ul
									margin-top: rem(10)
									padding-left: 0
									text-align: center
									// justify-content: center
									// margin-bottom: 0
									li
										display: inline-block
										margin-bottom: 10px
										.litre-vl
											border: 2px solid $light-gray
											background-color: $light-gray
											border-radius: 5px
											padding: rem(3) rem(10)
											margin-right: rem(10)
											font-weight: bold
											transition: .5s
											&:hover, &:focus
												text-decoration: none
												color: $black
											&.active
												border: 2px solid $green
												border-radius: 5px
												background-color: #fff
							.choose
								// margin-top: rem(10)
								// padding-left: 0
								margin-bottom: rem(16)
								display: flex
								flex-direction: column
								font-size: 14px
								.separate
									display: none
								.bak-val, .col-val
									text-align: center
									text-decoration: underline
									border-bottom: none
					.constr-form
						.price
							font-weight: bold
							.constructor-form-label
								font-size: 13px
							.form-old
								font-size: 26px
								color: $red
								text-decoration: line-through
							.form-value
								font-size: 36px
						.constr-btn
							margin-top: rem(15)
							// margin: 0 auto
							padding: rem(17) rem(25)
							height: 80%
							background-color: $green
							&:hover
								background-color: darken($green, 10%)
						// .add-buy
						// 	.constr-btn
						// 		padding: rem(10) rem(40)
						// 		line-height: rem(20)
				.complication
					margin-top: rem(20)
					margin-left: -50%
					overflow: hidden
					.row
						justify-content: flex-start
						.col-12
							.line
								font-size: 24px
								font-weight: bold
								margin-bottom: rem(8)
								&:after
									content: ""
									position: absolute
									height: 1px
									top: rem(14)
									margin-left: rem(10)
									width: 100%
									background-color: #f8f4ea
						.compl-item
							font-size: 14px
							font-weight: bold
							text-align: center
							img
								margin: 0 auto

/* Constructor End */

/* About Start */

.about
	padding-top: rem(30)
	padding-bottom: rem(60)
	background-color: $light-gray
	position: relative
	overflow: hidden
	.layer-1
		position: absolute
		left: rem(280)
		top: rem(80)
		display: none
	.container-fluid
		max-width: 1240px
		.h3
			font-size: 40px
			font-weight: bold
			margin-bottom: rem(80)
			position: relative
			&:after
				content: ""
				width: rem(150)
				height: 3px
				background-color: $accent
				position: absolute
				left: 0
				margin-top: rem(66)
			span
				font-family: $logo-font
				font-size: 36px
		.row
			.step
				text-align: center
				img
					margin: 0 auto
					margin-bottom: 40px
				.title
					margin-bottom: rem(18)
				p
					font-size: 14px

/* About End */

/* Additionally Start */

.additionally
	.container-fluid
		overflow: hidden
		max-width: 1300px
		.row
			.h3
				padding-top: rem(24)
				font-size: 32px
				margin-bottom: rem(50)
				position: relative
				&:after
					content: ""
					width: rem(150)
					height: 3px
					background-color: $accent
					position: absolute
					left: 0
					margin-top: rem(40)
			.add-box
				padding: rem(24)
				margin-top: rem(24)
				border: 5px solid lighten($accent, 40%)
			img
				width: 130%
.additionally-goods
	background-color: $light-gray
	padding-top: rem(30)
	padding-bottom: rem(30)
	.container-fluid
		max-width: 1030px
		.row
			.col-md-4
				padding: rem(8)
				&.active
					.column-hover
						transition: .5s
						opacity: .25
				.bg-white
					background-color: #FFF
					.column-hover
						position: relative
						&:hover span
							opacity: 1
							transition: .5s
						&:hover .sized
							transition: .5s
							opacity: .25
						span
							margin: 0
							color: #000
							position: absolute
							top: 0
							left: 0
							bottom: 0
							right: 0
							z-index: 10
							opacity: 0
							a
								position: absolute
								top: 0
								left: 0
								bottom: 0
								right: 0
								text-align: center
								line-height: rem(320)
								&:hover
									border: none
						.sized
							background-color: #fff
							padding: rem(14) rem(16) rem(13)
							font-size: 14px
							font-weight: bold
							height: rem(320)
							text-align: center
							img
								max-height: rem(250)
								max-width: rem(250)
								width: 100%
							p
								margin-top: 0
								margin-bottom: rem(1)
		.details
			background-color: #FFF
			padding-top: rem(20)
			padding-bottom: rem(20)
			.good-image
				display: flex
				justify-content: center
				align-items: center
				text-align: right
				img
					align-self: flex-start
			.good-text
				.title
					font-size: 36px
					margin-bottom: rem(8)
				.good-content
					margin-top: rem(30)
					border: 5px solid lighten($accent, 40%)
					border-bottom: none
					padding: rem(25) rem(45)
					.h4
						font-size: 24px
						margin-bottom: rem(20)
					p
						margin-top: 0
						margin-bottom: rem(16)
					.good-params
						.good-params-item
							display: flex
							align-items: center
							margin-bottom: rem(15)
							.label
								font-size: 16px
								flex: 0 0
								font-weight: bold
							.separator
								height: rem(18)
								flex: 1 1
								border-bottom: 1px dashed #9b9b9b
							.valey
								font-weight: bold
								min-width: rem(90)

						.good-params-complect
							.h5
								font-size: 16px
				.good-controls
					margin: 0
					border: 5px solid $accent
					padding: rem(20) rem(30)
					margin-bottom: rem(16)
					text-align: center
					align-items: center
					.price
						font-size: 24px
						font-weight: bold
					.add-btn
						font-size: 20px
						padding: 7px 50px
						background-color: $green
						&:hover
							background-color: darken($green, 10%)


/* Additionally End */

/* Reviews Start */

.reviews
	padding-top: rem(30)
	padding-bottom: rem(60)
	.container-fluid
		max-width: 1140px
		.h3
			font-size: 40px
			position: relative
			margin-bottom: rem(60)
			&:after
				content: ""
				width: rem(150)
				height: 3px
				background-color: $accent
				position: absolute
				left: 0
				margin-top: rem(66)
		.row
			.rev-img
				overflow: hidden
				border: 5px solid #fff
				border-radius: 10px
				text-align: center
				img
					height: rem(240)
					vertical-align: middle
				.name
					font-weight: bold
				.city
					font-size: 12px
					margin-bottom: rem(16)
				.name, .city
					text-align: center
				p:last-child
					margin-bottom: rem(16)
					text-align: left
			.mail
				text-align: center
				.h4
					font-size: 20px
					padding: rem(24)
				a
					font-size: 24px


/* Reviews End */

/* FAQ Start */

.faq
	padding-top: rem(30)
	padding-bottom: rem(60)
	.container-fluid
		max-width: 1140px
		.h3
			font-size: 40px
			position: relative
			margin-bottom: rem(60)
			&:after
				content: ""
				width: rem(150)
				height: 3px
				background-color: $accent
				position: absolute
				left: 0
				margin-top: rem(66)
		.accordeon
			.card
				position: relative
				display: flex
				flex-direction: column
			.x-collapse
				background-color: #f4f4f4
				padding: rem(16)
				margin-bottom: rem(8)
				padding-left: rem(48)
				.card-header
					padding: rem(12) rem(20)
					margin-bottom: 0
					.title
						font-size: 20px
						.x-link
							width: 100%
							position: relative
							display: block
							&:before
								color: $accent
								content: "-"
								top: rem(-15)
								left: rem(-50)
								position: absolute
								font-size: 48px
								font-weight: 300
							&.collapsed:before
								content: "+"
				.collapse
					.card-block
						flex: 1 1 auto
						padding: rem(20)
						.link
							display: inline-block
							text-align: center
							width: 50%
							border-bottom: none
							text-decoration: underline
							&:hover
								text-decoration: none
							&-one
								width: 100%

/* FAQ End */

/* Question Start */

.question
	padding-top: rem(60)
	padding-bottom: rem(60)
	background-color: $light-gray
	.container-fluid
		max-width: 1240px
		padding-top: rem(20)
		background-color: #FFF
		.h3
			font-size: 32px
			position: relative
			margin-bottom: rem(8)
			padding-bottom: rem(24)
		form
			margin-top: rem(30)
			.row
				div:not(last-child)
					padding-bottom: rem(4)
					input
						padding: rem(16)
						color: $black
						width: 100%
					.dtn-quest
						padding: rem(16)
						cursor: pointer
						width: 100%
						font-size: 16px
						font-style: uppercase

/* Question End */

/* Footer Start */

.footer
	background-color: $accent
	padding-top: rem(30)
	padding-bottom: rem(60)
	color: #fff
	text-align: center
	.container-fluid
		max-width: 1140px
		.row
			justify-content: center
			.f-logo
				img
					margin: auto
				p
					margin-top: rem(-15)
					padding-bottom: rem(30)
			.f-work
				margin-bottom: rem(16)
				.f-box
					padding: rem(20) rem(20)
					border: 3px solid #fff
					min-height: 100%
					// min-height: rem(150)
					.title
						font-size: 24px
						margin-bottom: rem(8)
			.f-contact
				.title
					font-size: 24px
				div
					width: 100% // lg 35% xs 100%
					margin: 0 auto
					a
						display: block // lg inline-block xs block
						width: 100% // lg 50% xs 100%
						font-family: $else-font
						color: #fff
				p, div, .title
					margin-bottom: rem(8)
				a
					color: #fff
				.politic
					font-size: 14px
					text-decoration: underline

/* Footer End */

/* Modal Start */

.modal-mask
	position: fixed
	z-index: 9998
	top: 0
	left: 0
	width: 100%
	min-height: 100%
	background-color: rgba(0,0,0,.5)
	transition: opacity .3s ease
	.modal-wrapper
		vertical-align: middle
		padding-top: rem(32)
		.modal-container
			max-height: 100vh
			overflow: auto
			position: relative
			width: rem(900)
			max-width: 90%
			margin: 0 auto
			padding: rem(20) rem(30)
			background-color: #fff
			border-radius: 2px
			box-shadow: 0 2px 8px rgba(0,0,0,.33)
			transition: all .3s ease
			&--buy
				width: rem(800)
			.modal-close
				cursor: pointer
				position: absolute
				width: rem(20)
				height: rem(20)
				top: rem(10)
				right: rem(10)
				&:after
					content: "\2716"
					position: absolute
					top: 0
					bottom: 0
					left: 0
					right: 0
					line-height: 100%
					cursor: pointer
					text-align: center
			.modal-header
				display: flex
				align-items: center
				justify-content: space-between
				padding: rem(15)
				.modal-title
					font-size: 28px
					font-weight: bold
					text-align: center
					width: 100%
					&--buy
						font-size: 20px
			.modal-body
				position: relative
				flex: 1 1 auto
				text-align: center
				.modal-order-price
					margin: rem(20) 0
					border: 5px solid lighten($accent, 40%)
					position: relative
					flex: 1 1 auto
					padding: rem(15)
					.order-price-value
						font-size: 30px
						font-weight: bold
						&--about
							font-size: 26px
				.modal-text
					margin-top: 0
					margin-bottom: rem(16)
					&--buy
						font-size: 13px
						font-weight: bold
						margin-bottom: rem(10)
				input
					height: rem(56)
					margin: rem(13) auto rem(13)
					padding: 0 0 0 rem(20)
					width: rem(388)
					max-width: 100%
					margin-right: rem(5)
					&.buy
						width: 100%
						margin: 0
						height: inherit
						padding: rem(10) rem(20)
						color: $black
				.modal-products
					margin-top: rem(15)
					.modal-products-title
						margin-bottom: rem(8)
						font-weight: bold
				.modal-btn
					font-size: 18px
					height: rem(53)
					max-width: 100%
					margin: rem(13) auto rem(13)
					padding: 0 rem(25)
					cursor: pointer
					background-color: $green
					&:hover
						darken($green, 10%)
			.modal-footer
				text-align: center
				padding: rem(15)
				border-top: 1px solid #eceeef
				font-size: 12px

/* Modal End */

/*test*/

// .convenience
// 	display: none
// .characteristics
// 	display: none
// .recipe
// 	display: none
// .modes
// 	display: none
// .mode-one
// 	display: none
// .mode-two
// 	display: none
// .mode-three
// 	display: none
// .mode-four
// 	display: none
// .mode-five
// 	display: none
// .mode-six
// 	display: none
// .mode-seven
// 	display: none
// .mode-eight
// 	display: none
// .constructor
// 	display: none
// .about
// 	display: none
// .additionally
// 	display: none
// .additionally-goods
// 	display: none
// .reviews
// 	display: none
// .faq
// 	display: none
// .question
// 	display: none

/*test*/


@import "media" // Всегда в конце
